h1{
    text-align: center;
    font-size: 100px;
    color: rgb(233, 226, 223);
}
p{
    text-align: center;
    font-size: 60px;
    color: rgb(228, 221, 220);
    font-style: oblique;
}
body{
    
    background:  linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url('qu.jpg');
    width: 100%px;
    height: 100vh;
  background-size: cover;
  background-position: center;
  
}